@{
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<div class="text-center">
    <h1>Complaints </h1>
</div>

<div class="container shadow">
    <div class="border-2 ">
        <div id="div1" class="mt-1 mb-1 pt-3 ps-4 pb-3 shadow">
        </div>

        <div id="customer" class="table-responsive border-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Complaints Id</th>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Restaurant Name</th>
                        <th scope="col">Rating</th>
                        <th scope="col">Description </th>
                        <th scope="col">Date</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <th scope="row">customer_complaint_id</th>
                        <td scope="col">customer_Name</td>
                        <td scope="col">restaurant_name</td>
                        <td scope="col">rating</td>
                        <td scope="col">feedback_description</td>
                        <td scope="col">createdAt</td>
                    </tr>

                </tbody>
            </table>
        </div>

    </div>
</div>