

<head>
    <title>@ViewBag.Title</title>
</head>
<div class="text-center">
    <h1>Restaurants</h1>
</div>

<div class="container shadow">
    <div class="border-2">
         <div class="mt-1 mb-1 pt-3 ps-4 pb-3 shadow">
            <a asp-controller="AddRestaurant" asp-action="AddRestaurant"><button type="button" class="btn btn-outline-primary">Add</button></a>
            @*     <button type="button" class="btn btn-outline-primary">Restaurant</button> *@
        @*     <button type="button" class="btn btn-outline-primary">Delivery Boy</button> *@
         </div> 
        <div class="table-responsive border-4">
            <table class="table table-striped table-bordered">
                <thead>

                    <tr>
                        <th scope="col">Restaurant Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Email</th>
                        <th scope="col">Street</th>
                        <th scope="col">City</th>
                        <th scope="col">State</th>
                        <th scope="col">PinCode</th>
                        <th scope="col">establish</th>
                        <th scope="col">Owner Name</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>