@{
    Layout = "~/Views/Shared/_RestaurantLayout.cshtml";
}

<h2>Restaurant Orders</h2>
<table class="table">
    <thead>
        <tr>
            <th>Item Name</th>
            <th>Quantity</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewBag.Orders as List<Foodie.Models.OrderItem>)
        {
            <tr>
                <td>@item.Name</td>
                <td>@item.Quantity</td>
                <td>@item.Price RS</td>
            </tr>
        }
    </tbody>
</table>
