@{
    Layout = "~/Views/Shared/_foodieheader.cshtml";
}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12">
            <div class="card-header">
                <h1>Your Location</h1>
            </div>
        </div>
    </div>
</div>