@{
    Layout = "_AdminLayout";
}
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<head>
    <title>@ViewBag.Title</title>
</head>
<div class="text-center">
    <h1>Audit Logs</h1>
</div>

<div class="container shadow">
    <div class="border-2">
        @* <div class="mt-1 mb-1 pt-3 ps-4 pb-3 shadow"> *@
        @*     <button type="button" class="btn btn-outline-primary">Customer</button> *@
        @*     <button type="button" class="btn btn-outline-primary">Restaurant</button> *@
        @*     <button type="button" class="btn btn-outline-primary">Delivery Boy</button> *@
        @* </div> *@
        <div class="table-responsive border-4">
            <table class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Audit Id</th>
                        <th scope="col">Admin Id</th>
                        <th scope="col">Action Type</th>
                        <th scope="col">Discription</th>
                        <th scope="col">Date Time </th>
                        <th scope="col">Ip Address</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"></th>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                        <td scope="col"></td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>